<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <H1>Yash</H1>
    <input type="text" id="inp1" placeholder="Username">
    <input type="text" id="inp2" placeholder="Room">
    <button onclick="sender('1_1')">Отправить</button>
    <button onclick="sender('2_1')">В группу</button>
    <button onclick="sender('2_2')">Из группы</button>
    <button onclick="sender('2_3')">Написать</button>
    <div id='bars'>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event bar', {
                data: 'I\'m connected!'
            });
        });
        socket.on('repka', function(msg) {
            console.log('repka', msg)
            qa = `<h5>${msg['data']['name']} ${msg['data']['name']} - ${msg['data']['message']}</h5>`
            document.getElementById('bars').innerHTML += qa
        });

        socket.on('room_senders', function(msg) {
            console.log('repka', msg)
            qa = `<h5>${msg['username']} - ${msg['message']}</h5>`
            document.getElementById('bars').innerHTML += qa
        });
    </script>
    <script type="text/javascript">
        function sender(ex) {
            console.log(ex)
            if (ex == '1_1') {

                socket.emit('test repka', {
                    data: 'I\'m connected!'
                });
            }
            if (ex == '2_1') {
                socket.emit('join', {
                    username: document.getElementById('inp1').value,
                    room: document.getElementById('inp2').value,

                });
            }

            if (ex == '2_2') {
                socket.emit('leave', {
                    username: document.getElementById('inp1').value,
                    room: document.getElementById('inp2').value,

                });
            }
            if (ex == '2_3') {
                socket.emit('send_room', {
                    username: document.getElementById('inp1').value,
                    room: document.getElementById('inp2').value,
                    message: 'mes'

                });
            }
        }
    </script>

</body>

</html>